@page "/"
@*<div class="form-group col-md-2">
    <label for="FechaDePago">Fecha de Pago:</label>
    <InputDate @bind-Value="Registro.FechaDePago" class="form-control" />
</div>
*@

<AltaRegistro />
<AltaRegistro />
<AltaRegistro />
<AltaRegistro />

@code{
    
}