@using CediadDataBase;

<tr>
    <td><input type="number" @bind="Registro.Monto" /></td>
    <td><input type="text" @bind="Registro.Descripcion" /></td>
    <td><input type="text" @bind="Registro.Titulo" /></td>
    <td>
        <select @bind="Registro.Categoria" class="form-control">
            @foreach (Categoria categoria in Enum.GetValues(typeof(Categoria)))
            {
                <option value="@categoria">@categoria</option>
            }
        </select>
    </td>
    <td>
        <select @bind="Registro.MetodoDePago" class="form-control">
            @foreach (MetodoDePago metodo in Enum.GetValues(typeof(MetodoDePago)))
            {
                <option value="@metodo">@metodo</option>
            }
        </select>
    </td>
    <td><button @onclick="SaveData">Guardar</button></td>
</tr>

@code {
    [Parameter]
    public Registro Registro { get; set; }
    [Parameter]
    public EventCallback<Registro> OnSubmit { get; set; }

    private async Task SaveData()
    {
        await OnSubmit.InvokeAsync(Registro);
    }
}
