@using CediadDataBase;

<tr>
    <td><input type="number" @bind="registro.Monto" /></td>
    <td><input type="text" @bind="registro.Descripcion" /></td>
    <td><input type="text" @bind="registro.Titulo" /></td>
    <td>
        <select @bind="registro.Categoria" class="form-control">
            @foreach (Categoria categoria in Enum.GetValues(typeof(Categoria)))
            {
                <option value="@categoria">@categoria</option>
            }
        </select>
    </td>
    <td>
        <select @bind="registro.MetodoDePago" class="form-control">
            @foreach (MetodoDePago metodo in Enum.GetValues(typeof(MetodoDePago)))
            {
                <option value="@metodo">@metodo</option>
            }
        </select>
    </td>
</tr>

@code {
    [Parameter]
    public Registro registro { get; set; }
    [Parameter]
    public EventCallback<Registro> OnSubmit { get; set; }

    private async Task SaveData()
    {
        // Realiza aquí la lógica para guardar los datos en la base de datos
        // Puedes usar el objeto "registro" para acceder a los valores de los campos

        await OnSubmit.InvokeAsync(registro);
    }
}
